body {
  width: 100vw;
  height: 100vh;
  margin: 0;


}


.allContainer {
  width: 100vw;
  height: 100vh;
  align-content: center;
  background: linear-gradient(to bottom, black, rgb(0, 0, 72));


}

.star {
  position: absolute;
  display: flex;
  color: white;
}

.earthContainer {

  width:  100vw;
  height: 100vh;
  background: linear-gradient(to bottom,  rgb(0, 0, 71), rgb(0, 0, 100));

}

.earthBox {



}