body {
  width: 100vw;
  height: 100vh;
  margin: 0;


}


.allContainer {
  width: 100vw;
  height: 100vh;
  align-content: center;
  background: linear-gradient( to bottom, black, rgb(0, 0, 72) );


}

.star {

  color: white;
}